<div class="card w-96 bg-base-100 shadow-xl border-2 mx-auto">
  <div class="card-body">
    <h2 class="card-title mb-3 mx-auto">{{ title }}</h2>
    <p class="indent-5">{{ description }}</p>
    <p><strong>Email:</strong> <a href="mailto:{{contact_email}}">{{contact_email}}</a></p>
    <a href="/loginSignup" class="btn btn-primary mt-4">Contact Now</a>
  </div>
</div>