
<div class="hero min-h-screen bg-base-200 bg-blue-100">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
     <img class="h-auto max-w-lg rounded-lg" src="{{publicPath}}/img/Gig-Hub-Logo-2.png" alt="Gig Hub Logo">
      <p class="py-6">Welcome to GigHub, where your next career opportunity awaits. </p>
      <p>We are pleased to have you here! Whether you are an employer seeking the ideal candidate or a job seeker ready to advance your career, our platform provides the tools and resources to support your journey.</p>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="email" placeholder="email" class="input input-bordered" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input type="password" placeholder="password" class="input input-bordered" required />
          <label class="label">
            <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
          </label>
        </div>
        <div class="form-control mt-1">
          <button class="btn btn-primary">Login</button>
          <div class="divider">OR</div>
          <button class="btn btn-primary">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>