
<div class="hero min-h-screen" id="gighub-logo">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <p class="mb-5">We are pleased to have you here, where your next career opportunity awaits. </p>
      <p class="mb-5">Whether you are an employer seeking the ideal candidate or a job seeker ready to advance your career, our platform provides the tools and resources to support your journey.</p>
      <p class="mb-5">Let's get started on finding your perfect match today!</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>