<div class="isolate bg-blue-200 px-6 py-24 sm:py-32 lg:px-8">
  <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem] pointer-events-none" aria-hidden="true">
   </div>
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Sign Up</h2>
    <p class="mt-2 text-lg leading-8 text-gray-600">Please fill out the following information to post to our Gig Board!</p>
  </div>
  <div class="flex justify-center items-center mt-16">
    <div class="card w-full max-w-sm shadow-2xl bg-blue-200">
      <form class="card-body" id="signupForm">
        <div class="form-control">
          <label class="label">
            <span class="label-text">First Name</span>
          </label>
          <input id = "firstName" type="text" placeholder="first name" class="input input-bordered"/>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Last Name</span>
          </label>
          <input id = "lastName" type="text" placeholder="last name" class="input input-bordered"/>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input id = "email" type="email" placeholder="email" class="input input-bordered"/>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input id ="password" type="password" placeholder="password" class="input input-bordered"/>
        </div>
        <div class="form-control mt-1">
          <button id ="signupbtn" class="btn btn-primary">sign up</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/userSignup.js"></script>